site_name: "HSFS: Hopsworks Feature Store"
site_description: "HSFS: An environment independent client to interact with the Hopsworks Feature Store"
site_author: "Logical Clocks"
site_url: "https://docs.hopsworks.ai"

# Repository
repo_name: logicalclocks/feature-store-api
repo_url: https://github.com/logicalclocks/feature-store-api
edit_uri: ""

nav:
  - Introduction: index.md
  - Quickstart: quickstart.md
  - Hopsworks.ai:
    - Getting Started:
      - AWS: hopsworksai/aws/getting_started.md
      - Azure: hopsworksai/azure/getting_started.md
    - Limiting Permissions:
      - AWS: hopsworksai/aws/restrictive_permissions.md
      - Azure: hopsworksai/azure/restrictive_permissions.md
    - Cluster creation:
      - AWS: hopsworksai/aws/cluster_creation.md
      - Integration with EKS and ECR: hopsworksai/aws/eks_ecr_integration.md
      - Azure: hopsworksai/azure/cluster_creation.md
    - Adding and Removing workers: hopsworksai/adding_removing_workers.md
    - GPU support: hopsworksai/gpu_support.md
    - User management: hopsworksai/user_management.md
    # - Databricks Quickstart:
    #  - AWS: hopsworksai/aws/databricks_quickstart.md
    #  - Azure: hopsworksai/azure/databricks_quickstart.md
    # - SageMaker Quickstart: hopsworksai/aws/sagemaker_quickstart.md
    - Hopsworks Platform: https://hopsworks.readthedocs.io/en/stable/index.html
  - Integrations:
    - Overview: setup.md
    - Databricks:
      - Networking: integrations/databricks/networking.md
      - Hopsworks API Key: integrations/databricks/api_key.md
      - Configuration: integrations/databricks/configuration.md
    - AWS Sagemaker: integrations/sagemaker.md
    - EMR:
      - Networking: integrations/emr/networking.md
      - Configure EMR for the Hopsworks Feature Store: integrations/emr/emr_configuration.md
    - Python: integrations/python.md
    - Spark: integrations/spark.md
  - Guides:
    - Overview: overview.md
    - Project/Connection: generated/project.md
    - Feature Store: generated/feature_store.md
    - Feature Group: generated/feature_group.md
    - Storage Connector: generated/storage_connector.md
    - Feature: generated/feature.md
    - Training Dataset: generated/training_dataset.md
    - Query vs. Dataframe: generated/query_vs_dataframe.md
    - Statistics: generated/statistics.md
    # - Data Validation: guides/data_validation.md
  - API Reference:
    - Connection: generated/api/connection_api.md
    - FeatureStore: generated/api/feature_store_api.md
    - FeatureGroup: generated/api/feature_group_api.md
    - TrainingDataset: generated/api/training_dataset_api.md
    - Storage Connector: generated/api/storage_connector_api.md
    - Feature: generated/api/feature_api.md
    - StatisticsConfig: generated/api/statistics_config_api.md
  - Contributing: CONTRIBUTING.md
  - Support: https://community.hopsworks.ai/

theme:
  name: material
  favicon: assets/images/favicon.ico
  logo: assets/images/hops-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    accent: teal

extra:
  generator: false
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/logicalclocks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/logicalclocks/

extra_css:
    - css/custom.css

plugins:
    - search

markdown_extensions:
    - admonition
    - codehilite
    - footnotes
    - pymdownx.tabbed
    - pymdownx.arithmatex
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.critic
    - toc:
        permalink: "#"
    - pymdownx.tasklist:
        custom_checkbox: true
    - markdown_include.include:
        base_path: docs

google_analytics:
    - UA-85730257-4
    - auto
