site_name: "Hopsworks Documentation"
site_description: "Official documentation for Hopsworks and its Feature Store - an open source data-intensive AI platform used for the development and operation of machine learning models at scale."
site_author: "Logical Clocks"
site_url: "https://docs.hopsworks.ai/feature-store-api/latest"

# Repository
repo_name: logicalclocks/hopsworks
repo_url: https://github.com/logicalclocks/hopsworks
edit_uri: ""

nav:
  - Home: https://docs.hopsworks.ai/
  - Getting Started ↗: https://docs.hopsworks.ai/
  - Tutorials: https://docs.hopsworks.ai/
  - Concepts: https://docs.hopsworks.ai/
  - Guides: https://docs.hopsworks.ai/
  - Setup and Installation: https://docs.hopsworks.ai/
  - Administration: https://docs.hopsworks.ai/
  - API:
    - API Reference:
      - Connection: generated/api/connection_api.md
      - ExpectationSuite: generated/api/expectation_suite_api.md
      - FeatureStore: generated/api/feature_store_api.md
      - FeatureGroup: generated/api/feature_group_api.md
      - ExternalFeatureGroup: generated/api/external_feature_group_api.md
      - FeatureView: generated/api/feature_view_api.md
      - TrainingDataset: generated/api/training_dataset_api.md
      - Storage Connector: generated/api/storage_connector_api.md
      - Feature: generated/api/feature_api.md
      - Query: generated/api/query_api.md
      - Transformation Functions: generated/api/transformation_functions_api.md
      - ValidationReport: generated/api/validation_report_api.md
      - Job configuration: generated/api/job_configuration.md
      - Provenance Links: generated/api/links.md
    - Contributing: CONTRIBUTING.md
  - Community ↗: https://community.hopsworks.ai/

theme:
  name: material
  favicon: assets/images/favicon.ico
  logo: assets/images/hops-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    accent: teal
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes
  custom_dir: docs/overrides

extra:
  analytics:
    provider: google
    property: G-64FEEXPSDN
  generator: false
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/logicalclocks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/logicalclocks/

extra_css:
    - css/custom.css
    - css/version-select.css
    - css/dropdown.css
    - css/marctech.css

extra_javascript:
    - js/version-select.js
    - js/inject-api-links.js

plugins:
    - search

markdown_extensions:
    - admonition
    - codehilite
    - footnotes
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.arithmatex
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.critic
    - toc:
        permalink: "#"
    - pymdownx.tasklist:
        custom_checkbox: true
    - markdown_include.include:
        base_path: docs
