name: python

on: pull_request

jobs:
  lint_stylecheck:
    name: Lint and Stylecheck
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: install deps
        run: pip install flake8==3.9.0 black==22.3.0 pre-commit-hooks==2.4.0

      - name: black
        run: black --check python

      - name: flake8
        run: flake8 --config python/.flake8 python

      - name: trailing-whitespace-fixer
        run: trailing-whitespace-fixer $(find python -name "*.py" -type f) || exit 1

      - name: end-of-file-fixer
        run: end-of-file-fixer $(find python -name "*.py" -type f) || exit 1

  unit_tests_ubuntu_utc:
    name: Unit Testing (Ubuntu)
    needs: lint_stylecheck
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
      - name: Set Timezone
        run: sudo timedatectl set-timezone UTC

      - uses: actions/checkout@v3
      - name: Copy README
        run: cp README.md python/

      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "python/setup.py"
      - run: pip install -e python[python,dev,docs]

      - name: Display Python version
        run: python --version

      - name: Run Pytest suite
        run: pytest python/tests

  unit_tests_ubuntu_local:
    name: Unit Testing (Ubuntu) (Local TZ)
    needs: lint_stylecheck
    runs-on: ubuntu-latest

    steps:
      - name: Set Timezone
        run: sudo timedatectl set-timezone Europe/Amsterdam

      - uses: actions/checkout@v3
      - name: Copy README
        run: cp README.md python/

      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "python/setup.py"
      - run: pip install -e python[python,dev,docs]

      - name: Display Python version
        run: python --version

      - name: Run Pytest suite
        run: pytest python/tests

  unit_tests_windows_utc:
    name: Unit Testing (Windows)
    needs: lint_stylecheck
    runs-on: windows-latest

    steps:
      - name: Set Timezone
        run: tzutil /s "UTC"

      - uses: actions/checkout@v3
      - name: Copy README
        run: cp README.md python/

      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "python/setup.py"
      - run: pip install -e python[python,dev,docs]

      - name: Display Python version
        run: python --version

      - name: Run Pytest suite
        run: pytest python/tests


  unit_tests_windows_local:
    name: Unit Testing (Windows) (Local TZ)
    needs: lint_stylecheck
    runs-on: windows-latest

    steps:
      - name: Set Timezone
        run: tzutil /s "W. Europe Standard Time"

      - uses: actions/checkout@v3
      - name: Copy README
        run: cp README.md python/

      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "python/setup.py"
      - run: pip install -e python[python,dev,docs]

      - name: Display Python version
        run: python --version

      - name: Run Pytest suite
        run: pytest python/tests
